*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*pour que les bordures ne soient pas incluses dans la largeur et la hauteur*/
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "montserrat", sans-serif;
}
/*--===== Navbar ========--*/
.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0px 30px;
    position: fixed;
    background-color: #132535;
    cursor: pointer;
    top: 0;
    z-index: 3;
}
.login{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo{
    width: 40px;
    
}
.sec li{
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
}
ul{
    list-style: none; 
    
}
.item{
    text-decoration: none;
    color: white;
    
   font-size: 15px;
    font-weight: bold;    
}
.item:hover{
    color: #FFD028;
}
.item2{
    text-decoration: none;
    color: white; 
    font-weight: bold; 
    width: 140px;
    display: flex;
    flex-direction: row; 
}
.item2:hover{
    color: #FFD028;
}
.dropdown-menu {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #132535;
  }
  .dropdown-menu  {
    display: none;
  }
  .sec li:hover > .dropdown-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #132535;
  }
  
  .dropdown-menu ul{
    display: block;
    margin: 10px;
  }
  .dropdown-menu li{
    width: 150px;
    padding: 10px;
  }
  .item1{
    color: white;
    text-decoration: none;
  }
  .item1:hover{
    color: #FFD028;
  }
  .fas{
    float: right;
    margin-left: 10px;
    padding-top: 3px;
  }
  .fas:hover{
    color: #FFD028;
  }

  .dropdown-menu1{
    display: none;
    
  }
  .dropdown-menu ul li:hover > .dropdown-menu1{
    display: block;
    position: absolute;
    top: 0;
    left: 150px;
    background-color: #132535;

  }
/*--===== Section Hero ========--*/

.imgHero{
    width: 100%;
    
}

#hero{
    width: 100%;
    height: 100vh;
    flex-direction: row;
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../image/slider-1.jpg") ; /*image plus sembre*/
    background-repeat: no-repeat; /*n'est pas repeate*/
    background-size: cover; /*la largeur et la hauteur sont respectivement 100% de la largeur et de la hauteur de l'image*/
    

}
.contenu{
    width: 50%;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    
       
}
.lead{
    font-size: 28px;
    color: white;
    padding-bottom: 15px;
    padding-left:120px ;
    
}
.par{
    font-size: 20px;
    color: white;
    padding-left:120px ;
    text-align: justify;
   
}
.btn{
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #FFD028;
    color: #142637;
    cursor: pointer;
    font-weight: bold;
}
.btn:hover{
    background-color: #142637;
    color:#FFD028; ;
}

/*--===== Section services ========--*/
#services{
    width: 100%;
    display: flex;
    flex-direction:column;
    background-color: #F3F5F7;
    align-items: center;
    padding-bottom: 30px;
}
.par-sec{
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   padding: 20px;
   color: #142637;
}
.title{
    
    color: #142637;
    padding: 15px;
    font-size: 32px;
    font-weight: bold;
}
.description{
    font-size: 18px;
    padding: 10px;
    color: #142637;
    width: 60%;
}
.bloc{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /*lignes sur plusieurs lignes lorsqu l'espace est insuffisant*/
    justify-content: space-around;
    padding: 20px;
    
}
.card{
    width: 350px;
    border-radius: 5px;
    background-color: white;
    overflow: hidden;  /*effet cache*/
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
}
.card:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.card-content{
    width: 80%;
    height: 200px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.card-title{
    font-size: 20px;
    padding-bottom: 10px;
    color: #142637;
    font-weight: bold;
}
.card-text{
    font-size: 16px;
    color: #142637;
    line-height: 1.3; /*espace entre les lignes*/
}
.card-img {
    width: 100%;
    height: 250px;
    
}
.card-btn{
    justify-content: flex-start;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    margin-bottom: 15px;
    color: #132535;
    background-color: #FFD028;
    font-weight: medium;
 
}
.card-btn:hover{
    background-color: #132535;
    color: #FFD028;
}
/*--===== Section avis ========--*/
#avis{
    width: 100%;
    display: flex;
    flex-direction:column;
    align-items: center;
    background-color:white;
    padding-bottom: 50px;
    padding-top: 30px;
    
}
.title-avis{
    color: #142637;
    padding: 15px;
    font-size: 32px;
    font-weight: bold;
}
.card-avis{
  width: 350px;  
  border-radius: 5px;
  background-color: #F3F5F7;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1) ;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 15px;
  
}
.card-avis:hover{  
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.text-avis{
    text-align: justify;
    padding-top: 15px;
    font-size: 16px;
    font-style: italic;
    color: #142637;
}
.avis-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover; /*redimensionner l'image*/

}
.avis-name{
    font-size: 18px;
    padding: 10px;
    color: #142637;
}
.btn-avis{
    width: 200px;
    height: 40px;
    
    border-radius: 5px;
    border: none;
    background-color: #FFD028;
    color: #142637;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
}
.stars{
    color: #FFD028;
}
.btn-avis:hover{
    background-color: #142637;
    color: #FFD028;
}

/*--===== Section devis ========--*/
#devis{
    width: 100%;
    background-repeat: no-repeat; /*n'est pas repeate*/
    background-size: cover;
    display: flex;
    flex-direction: row;
    
    align-items: center;
    padding: 50px;
}
.devis-background{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6 )), url("../image/sol.jpg") ; /*image plus sembre*/

}

.devis-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px; 
}
.title-devis{
    width: 100%;
    font-size: 26px;
}

.text-devis{
    font-size: 18px;
    padding: 10px;
    color: white;
    opacity: 0.8;
}
.form{
width: 50%;
display: flex;
flex-direction: column;
padding: 20px;
border-radius: 5px;
background-color:rgba(255, 255, 255, 0.2); /*opacité background */
backdrop-filter: blur(5px);

}
.formulaire{
    width: 100%; 
}

.title-devis{   
    font-size: 30px;
    padding: 10px;
    font-weight: bold;
    color: white;
}
.form-group{
    display: flex;
    flex-direction: row;
    width: 100%;
    color: white;
    justify-content: space-between;
    
}
.nom{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}
.list{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
}
.input{
    
    border-radius: 4px;
   
    padding: 16px;
    background-color: white;
    border: none;
}
.input:focus{
    border: none;
    outline: none;
}
textarea:focus{
    border: none;
    outline: none;
}
textarea{
    height: 100px;
    border-radius: 4px;
   
    padding: 16px;
    background-color: white;
    border: none;
}

label{
   
    font-size: 18px;
    opacity: 0.8;
}
option{
    color: black;
}

/*--===== Section portfolio ========--*/
#portfolio-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.title-portfolio{
    font-size: 30px;
    padding-top: 20px;
    margin-top: 10px;
    font-weight: bold;
    color: #142637;
    text-align: center;
}
.portfolio {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

  
/*--===== Section choisir ========--*/
#choisir {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
   
    background-color: white;
}

.choisir-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    color: #142637;
}
.title-choisir {
    font-size: 40px;
    padding: 10px;
    font-weight: bold;
    color: #142637;

}


/*--===== Footer ========--*/
.footer{
    width: 100%;
    background-color: #142637;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 30px 30px 15px 30px; 
    
    
}
.titlefooter1{
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
    color: white;
}

.sec{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.logofooter{
    width: 100px;
    height: 100px;
}
.social{
    display: flex;
    flex-direction: column;
    text-decoration: none;
   
}
.link{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    
}
.contact{
    display: flex;
    flex-direction: column;
}
.page{
    color: white;
    padding: 10px;
    text-decoration: none;
    opacity: 0.7;
    font-size: 18px;
    font-weight: medium;
    transition: 0.3s ease-in-out;
}
.page:hover{
    color: #FFD028;
    
}
.hr{
    width: 100%;
    border: 1px solid white;
    opacity: 0.5;
    margin-top: 40px;
    margin-bottom: 15px;
}
.copyright{
    width: 100%;
    text-align: center;
    border: white;
    opacity: 0.7;
    line-height: 1.5;
    font-weight: medium;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.cgu-footer{
    width: 100%;
    text-align: center;
    color: white;
    opacity: 0.7;
    line-height: 1.5;
    font-weight: medium;
    font-size: 18px;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}
.cgu-footer:hover{
    color: #FFD028;
}

/*--===== page devis ========--*/
#hero-devis{    
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6 )), url("../image/sol.jpg") ; /*image plus sembre*/
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat; /*n'est pas repeate*/
    background-size: cover;
    margin-top: 74px; /*pour eviter de coller le menu au hero*/
}

.devis-background1{
    background-color: white;

}
.devis-hero{
    font-weight: bold;
    font-size: 65px;
    text-align: center;
    color:white;  
    
}
.text-hero{
    font-size: 20px;
    padding: 10px;
    color:white;
    text-align: center;
    opacity: 0.8;
}
.title-devis1{   
    font-size: 30px;
    padding: 10px;
    font-weight: bold;
    color: #132535;
}
.text-devis1{
    font-size: 18px;
    padding: 10px;
    color: #132535;
    opacity: 0.8;
    text-align: center;
}
.label-devis{
    font-size: 14px;
    padding: 10px;
    color: #132535;
    
}
.devis-background2{
    background-color:rgba(19, 37, 53 , 0.2);
    
    backdrop-filter: blur(5px);
}
/*--===== page avis ========--*/
.bloc-avis{
    width: 100%;
    display: flex;
    
    justify-content: center;
    padding: 20px;
   
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}
.pagination{
    margin-top: 50px;
}
.pagination-link{
    text-decoration: none;
    padding: 15px;
    color: #132535;
    font-size: 16px;
    
} 
.active{
    background-color: #FFD028;
    border-radius: 5px;
}
.pagination-link:hover{
    background-color: #FFD028;
    border-radius: 5px;
}

/*--===== page contact ========--*/
#contact{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction:row;
    background-color: #F3F5F7;
    padding: 80px;
    justify-content: center;
    
}
.contact-footer{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
   
   
   
}
.titlefooter{
    font-size: 30px;
    padding: 10px;
    font-weight: bold;
    color: #132535;
    padding-bottom: 10px;

}

.icon{
    color: #132535;
    text-decoration: none;
    padding: 10px;
    transition: 0.3s ease-in-out;
}
.icon:hover{
    color: #FFD028;
}
.map{
    width: 50%;
    box-shadow: rgba(58, 58, 61, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
    
    
}

/*--===== page services ========--*/
#hero-service{    
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6 )), url("../image/slider-1.jpg") ; /*image plus sembre*/
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat; /*n'est pas repeate*/
    background-size: cover;
    margin-top: 74px; /*pour eviter de coller le menu au hero*/
}
#services-industriaux{
    width: 80%;
    padding: 30px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    background-color: #e6e9ec;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
.service-title{
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #132535;
   
}
.ser-img{
    width: 80%;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.3s ease-in-out;
    margin-bottom: 20px;
   
}
.ser-img:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}

.description-ser{
    font-size: 18px;
    color: #132535;
    text-align: justify;
    padding: 20px;
    
}

/* ========== page profil =========== */

.infosBienvenueProfil{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

/*--===== page login ========--*/
#login{
        width: 100%;
        display: flex;
        flex-direction:column;
        align-items: center;
        background-color:white;
        padding-bottom: 120px;
        padding-top: 100px;
    
}

.form-login{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F3F5F7;
}
.label-login{
    font-size: 18px;
    padding: 10px;
    color: #132535;
}
.input-login{
    width: 100%;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

/*--===== liste service  ========--*/
.all-dev{
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    
    background-color: #F3F5F7;
   
}
 .table-devis {
     width: 90%;
     border-collapse: collapse;
     margin-top: 30px;
     margin-bottom: 30px;
     margin-left: auto;
     margin-right: auto;

 }
 .table-devis td, .table-devis th {
     border: #000000 1px solid;
     padding: 10px;
     
     
     
 }
 .table-devis th {
     
     color: #132535;
     font-weight: bold;
     text-align: center;
     padding: 10px;
 }

 .table-devis td {
     color: #132535;
     text-align:justify;
     padding: 10px;
 }
 .desc {
    font-size: 15px;
    color: #132535;
    text-align: justify; 
    padding: 15px;
 }

 /*--===== page traitment devis  ========--*/

 .input{
    
    border-radius: 4px;
   
    padding: 16px;
    background-color: white;
    border: none;
}


/*--===== page Offre  ========--*/
#offre {
    width: 90%;
    display: flex;
    flex-direction:column;
    align-items: center;
    gap: 30px;
    background-color: #F3F5F7;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    color : #132535;
}
.sec-offre{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    background-color: #F3F5F7;
    padding: 20px;
}

.mk{
    display: flex;
    flex-direction: row;
    align-items: center;

}
.table-devis table {
    
    height: 200px;
}

/*--===== secDev ========--*/

#success{  
    
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    /*pour eviter de coller le menu au hero*/
} 
    .title-suc{
        font-size: 50px;
        font-weight: bold;
        color: #132535;
        padding: 20px;
    }
    .text-suc{
        font-size: 20px;
        font-weight: bold;
        color: #132535;
        padding: 20px;
        text-align: center;
    }
    .checkmark {
        width: 100px;
        height: 100px;
        stroke-width: 4;
        stroke: #132535;
        stroke-miterlimit: 10;
        margin: 0 auto;
        display: block;
      }
      
      .checkmark__circle {
        stroke-dasharray: 166;
        stroke-dashoffset: 166;
        stroke-width: 4;
        stroke: #132535;
        fill: none;
        animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
      }
      
      .checkmark__check {
        stroke-dasharray: 48;
        stroke-dashoffset: 48;
        stroke-width: 4;
        stroke: #132535;
        fill: none;
        animation: stroke 0.4s cubic-bezier(0.65, 0, 0.45, 1) 0.7s forwards;
      }
      
      @keyframes stroke {
        100% {
          stroke-dashoffset: 0;
        }
      }
      
      .btn-suc {
        background-color: #FFD028;
        color:#132535;
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
      }

    /*--===== cgu ========--*/
   .hero-cgu{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6 )), url("../image/cgu.jpg") ; /*image plus sembre*/
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat; /*n'est pas repeate*/
    background-size: cover;
    margin-top: 74px;




    
   } 
   .cgu-title{
    font-weight: bold;
    font-size: 65px;
    text-align: center;
    color:white; 
   }
   .cgu{
    width: 50%;
    background-color: #F3F5F7;
    margin: auto;
    padding: 20px;
    text-align: justify;
    margin-bottom: 20px;
    border-radius: 10px;
   }
   .resume{
    font-size: 30px ;
    font-weight: bold;
    color: #132535;
    padding: 20px;
   }
   .cgu-cgu{
    font-size: 20px;
    color: #132535;
    padding: 10px;
   }
   .cgu-text{
    font-size: 18px;
    color: #132535;
    padding: 8px;
   }
   

/*--===== page register ========--*/
.error{
    color: red;
    font-size: 10px;
    padding: 5px;
}
.cgu-register{
    width: 50%;
    background-color: #F3F5F7;
    margin-left: auto;
    padding: 20px;
    
    margin-bottom: 20px;
    border-radius: 10px;
   }
   .cgu-label{
    font-size: 16px ;
    color: #132535;
    padding: 20px;


   }
   .cgu-link{
    text-decoration: none;
    color : #132535;
   }

   .cgu-link:hover{
    color: #FFD028;
   }
   /*--===== devis-pdf ========--*/
   .sec-offre{
       display: flex;
       flex-direction: row;
       justify-content: space-around;
       width: 100%;
   }
   .table-imp{
    width: 100%;
    border-collapse: collapse ;
    border: #142637 1px solid;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
   }

   .topnav {
        display: none;
    }
/*--===== Responsive Accueil ========--*/
@media screen and (max-width: 768px) {

    /*--===== section footer ========--*/
    .copyright{
        flex-wrap: wrap;
        text-align: center;
    }
    .sec{
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    /*--===== section nav ========--*/
    .nav{
        display: none  ;
    }
    .contenu{
        width: 100%;
        padding-bottom: 150px;
   
    }
    .lead{
        font-size: 25px;
        color:#132535;
        width: 100%;
        padding-left: 100px;
        
    }
    .par{
        font-size: 20px;
        color: #132535;
        width: 100%;
        text-align: center;
        padding-right: 20px;
       
    }
    .btn{
        margin-top: 20px;
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        margin-left: 100px;
        color: #132535;
    }
    .btn:hover{
        background-color: #132535;
        color: #FFD028;
    }
    /* Style the navigation menu */
    .topnav {
        overflow: hidden;
        background-color: #333;
        position: relative;
        display: block;
        z-index: 100;
    }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #04AA6D;
    color: white;
  }
   
/*--===== section devis ========--*/
    #devis{
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 20px;
    }
 
    .title-devis{
    width: 100%;
    font-size: 26px;
    }
    .text-devis{
    width: 100%;
    font-size: 16px;
    }
    .label-devis {
        text-align: start;
    }
   
    .form{
        width: 100%;
    }
    .form-group {
        flex-direction: column;
    }
    /*--===== section portfolio ========--*/
   .portfolio {
       flex-direction: column;
   }
/*--===== section service ========--*/
   .description{
    width: 100%;
    padding: 10px;
   }
   .par-sec{
    width: 100%;
    padding: 10px;
   }
   .card{
    width: 400px;
    margin-bottom: 20px;
   }
   .card-content{
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
    
    
   }
   .card-title{
    font-size: 20px;
    padding-bottom: 10px;
    color: #142637;
    font-weight: bold;
   }
   .card-text{
    font-size: 16px;
    color: #142637;
    line-height: 1.3; /*espace entre les lignes*/
   }
.card-btn{
    justify-content: flex-start;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    margin-bottom: 15px;
    color: #132535;
    background-color: #FFD028;
    font-weight: medium;
 
}
.card-btn:hover{
    background-color: #132535;
    color: #FFD028;
}
/*--===== section Avis  ========--*/
.title-avis{
    font-size: 28px;
    text-align: center;
    color:#132535; 
    width: 100%;
   }
   .btn-avis{
    color: #132535;

   }
   .btn-avis:hover{
    background-color: #132535;
    color: #FFD028;
   }
   /*--===== page contact  ========--*/
   .devis-hero{
    font-size: 30px;
   }
   #contact{
    flex-direction: column;
    padding: 20px;
   }
   .contact-footer{
    width: 100%;
    padding-bottom: 20px;
   }
   .map{
    width: 100%;
    box-shadow: rgba(58, 58, 61, 0.2) 0px 7px 29px 0px;
    height: 300px;
   }
/*--===== page service  ========--*/
   #services-industriaux {
    width: 80%;
    
   }
   .service-title {
    font-size: 25px;
    text-align: center;
   }
   .ser-img{
    width: 100%;
    padding: 5px;

   }
   
   
}